.column {
    justify-content: space-between;
    text-align: center;
    align-items: center;
    padding-left: 70px;
    padding-right: 70px;
    padding-bottom: 50px;
    
        h2 {
            font-size: 90px;
            color: #5E5322;
            font-weight: 100;
        }
        p {
            font-size: 18px; 
            text-transform: uppercase;
        }
        :last-child {
            font-size: 16px;
            padding-bottom: 50px;
            text-transform: none;
        }
}