.header {
    margin-top: 50px;
}

.login {
    font-size: 14px;
    list-style: none;
    display: flex;
    justify-content: right;
    color: grey;

        li {
            padding: 12px;
            text-decoration: none;

                :hover {
                    border: 1px solid gold;
                    padding: 10px;
            a {}        
        }
    }
}

.menu {
    list-style: none;
    display: flex;
    justify-content: right;
    text-decoration: none;

    li {
        padding: 10px 20px;
        text-decoration: none;
            :hover {
                border: 1px solid goldenrod;
                padding: 8px 25px;
        }
        a {
            text-decoration: none;

        }
    }
}