.heading {
    padding: 52px 0px;
        h2 {
            font-size: 38px;
            font-weight: 200;
            font-style: normal;
            letter-spacing: -0.76px;
            text-align: center;
            img {
                margin: 0 auto;
            }
}
}