.hero {
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.hero-image {
    width: 50%;
}

.content {
    display: table;
    max-width: 500px;
    width: 50%;
}

.hero-content {
    display: table-cell;
	text-align: center;
	vertical-align: middle;
}
