.columns {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.three-columns {
    background-image: url(../assets/3-Columns-Background.png);
    object-fit: none;
    justify-content: center;
}

.column {
    justify-items: right;
    align-items: center;
    padding-left: 70px;
    padding-right: 70px;
}

.counter {
    font-size: 90px;
}

.title {
    font-size: 18px; 
        text-transform: uppercase;
}

.subtitle {
    font-size: 18px;
    justify-content: right;
}
    
