h1 {
    text-align: center;
}

.px {
    text-align: center;
}

.form {
    padding-top: 80px;
    padding-bottom: 50px;
    width: 500px;
    height: 235px;
    margin: 50px auto;
    justify-content: center;
    background-color: #F0F1F1;
}

label {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

input {
    border: none;
    border-bottom: 1px solid black;
}



