@import-normalize;
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,700;1,300&family=Open+Sans:wght@300;400;500;700&display=swap');
@import './settings/fonts';

* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    font-family: $font-base;

}

.container {
  max-width: 1492px;
  margin: 0 auto;
}

a {
  :link {text-decoration: none}
  :visited {text-decoration: none}
  :active {text-decoration: none}
}

